h1 {
  font-size: 7.5rem;
  font-weight: 600;
  @include responsive(1050px) {
    font-size: 6.5rem;
  }
  @include responsive(991px) {
    font-size: 5.5rem;
  }
  @include responsive(800px) {
    font-size: 4.5rem;
  }
  @include responsive(575px) {
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.2rem;
  line-height: 150%;
}

h4 {
  font-size: 1.6rem;
  line-height: 112%;
}

h1,
h2 {
  line-height: 120%;
  letter-spacing: -1px;
}

h3,
h4 {
  font-weight: 500;
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: $brand-gray;
}
