// Cores

$brand-red: #bb243e;
$brand-light-red: #d33b55;
$brand-blue: #00cad2;
$brand-purple: #5b1462;

$brand-gray: #3d3c3c;
$brand-light-gray: #eae9e8;

$gray-900: #1b2731;
$gray-800: #2c3b48;
$gray-700: #3a4e5d;
$gray-600: #496173;
$gray-500: #556f83;
$gray-400: #6e8396;
$gray-300: #8699a9;
$gray-200: #a8b6c2;
$gray-100: #c9d3dc;
$gray-050: #d4dce3;

$brand-white: #ffffff;
$brand-offwhite: #fcfcfc;
